<div class="hero">
  <h1 class="name">Projapp</h1>
  <a href="" class="button">Dokumentation</a>
  <a href="" class="button button-primary">Gleich durchstarten</a>
</div>

<section class="slide">
  <div class="container"></div>
</section>
