<div class="hero">
  <div class="content">
    <h1 class="name">Projapp</h1>
    <a href="" class="button">Dokumentation</a>
    <a href="" class="button button-primary">Gleich durchstarten</a>
  </div>
</div>

<section class="slide">Hello</section>
